[Unit]
Description=Digital Photo Frame Slideshow (fbi)
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/robert/digital_photo_frame/start_slideshow.sh /home/robert/digital_photo_frame/config_frame.yaml
Restart=on-failure
RestartSec=10
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes

[Install]
WantedBy=multi-user.target
